@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900");

/* general */
* {
  box-sizing: border-box;
}

html{
  background-image: linear-gradient(to top right, rgb(255, 175, 155), #c4ffae);
}

.home{
  margin: 70px auto;
  width: 700px;
}

.home-header, .home-footer{
  text-align: center;
  margin: 50px;
  color: rgb(112, 96, 96);
  font-family: "Poppins", sans-serif;
}

.home-content{
  border-radius: 25px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 80px 1px #ffffff inset;
}

.home-header h1{
  margin: 5px 0px;
  font-size: 60px;
  font-weight: 700;
  /* text-shadow: -1px -1px 0 rgb(161, 159, 159), 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

.home-header p{
  margin: 0px;
  font-size: 18px;
}

.home-footer-links{
  display: flex;
  width: 500px;
  margin: 0px auto;
}

.home-footer-links a{
  margin: 0px auto;
  text-decoration: underline;
}

.home-footer-links a:link, .home-footer-links a:visited {
  color: rgb(112, 96, 96);
}

.home-footer-links a:hover{
  text-decoration: none;
}