.quote{
  height: 350px;
  padding: 50px;
  background-color: rgb(178, 218, 211);
  box-shadow: 0px 0px 30px 1px #cfcfcf;
  text-align: center;
  position: relative;
}

.quote-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
}

.quote-text h1{
  display: inline;
  padding: 0px 8px;
}

.quote-text p{
  display: inline-block;
  padding: 0px 8px;
  font-size: 15px;
  margin: 40px 0px 0px 0px;
}
